.env.*
.env
.git
.gitignore
.github/
.github/workflows/
.gradle
.idea

src/main/resources/application-local.yml

docs
frontend
performance
uploads
claude.md
배포.txt
postListRefactor.txt
postRefactor.txt
project-report.txt
README.md


